{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Sign Up</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
    </div>
</main>
{% endblock content %}