<!doctype HTML>
<html>

<head>
    <title>Title For Now</title>
</head>

<body>
    <header>
        <nav>
            {% if request.user.is_authenticated %}
                <p><a href="{% url 'logout' %}">Logout</a></p>
                <p><a href="{% url "home" %}">Home</a></p>
                <p><a href="{% url "create_receipt" %}">Create Receipt</a></p>
                <p><a href="{% url "category_list" %}">Expense Categories</a></p>
                <p><a href="{% url "create_category" %}">Create Category</a></p>
                <p><a href="{% url "account_list" %}">Accounts</a></p>
                <p><a href="{% url "create_account" %}">Create Account</a></p>
            {% else %}
                <p><a href="{% url 'signup' %}">Sign Up</a></p>
                <p><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>