{% extends "base.html" %}

{% block content %}
    <main>
        <h2>Create a New Expense Category</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button>Submit</button>
            </div>
        </form>
    </main>
{% endblock content %}